<div class="container">
  <h1 class="my-4">Ask the Coach</h1>
  <form action="/answer" method="get" data-turbo="false">
    <div class="mb-3">
      <input type="text" name="question" class="form-control" placeholder="Pose ta question" required>
    </div>
    <div>
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>
